/*variables*/

$colorHeader: #FF8FB1;
$colorBase: #fff;
$colorLink: black;
$colorHover: white;
$colorGrid: #444;
$colorGridGradient: linear-gradient(rgb(238, 97, 97), rgb(122, 122, 122)); 
$colorMediaBG: rgb(68, 127, 146);

