body {
    margin: 40px;
  }
  
  @import 'extend';
  @import 'vars';
  @import 'mixin';
  @import 'maps';
  @import 'header';
  @import 'grid';
  @import 'media';

  
  
  @keyframes aparecer {
    0% {
      opacity: 0;
    }
  
    100% {
      opacity: 1;
    }
  }
  
